@keyframes show {
    0%{
        opacity: 0;
        transform:translate(0, 24px) scale(0.95);
    }
    
    100%{
        opacity:1;
        transform:translate(0, 0) scale(1);
    }
}

section {
    height: 100vh;
    padding: 120px;
    display:flex;
    align-items: center;
    justify-content: center;

    background-image:linear-gradient(120deg, #97ebd6, #9aa6f9);
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}

section img {
    max-height: 100%;
}

section.alternate {
    background-image:linear-gradient(30deg, #dc72ef, #fe0000);
}

section.in-view img {
   animation: show 0.4s 0.4s both cubic-bezier(0.68,-0.55,0.27,1.55); 
}