@keyframes show {
    0%{
        opacity: 0;
        transform:translate(0, 24px) scale(0.95);
    }
    
    100%{
        opacity:1;
        transform:translate(0, 0) scale(1);
    }
}

section {
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;

    background-image:linear-gradient(120deg, #97ebd6, #9aa6f9);
    position: -webkit-sticky;
    position: sticky;
}


section.alternate {
    background-image:linear-gradient(30deg, #dc72ef, #fe0000);
}

figure {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    text-align: center;
    padding: 30px;
    clip-path:polygon(0% 0%,100% 0%, 100% 100%, 0% 100%);
}

figure img {
    max-height:100%;
}

figcaption {
    position: fixed;
    top: 70%;
    left:50%;
    color:white;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

h1 {
    font-size: 120px;
}

p {

    font-size: 64px;
}

@media (prefers-reduced-motion: no-preference) {

    section.in-view img {
        animation: show 0.4s 0.4s both cubic-bezier(0.68,-0.55,0.27,1.55); 
     }
}

@media (prefers-reduced-motion: no-preference) and (min-width:1000px) {

    html, body {
        height:100%;
        overflow:hidden;
    }

    main {
        height: 100vh;
        overflow-y:scroll;
        scroll-snap-type: y mandatory;
    }

    section {
        scroll-snap-align: start;
    }  
}

